@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverneeded {
    cursor: pointer;
    opacity: 0.8; /* Initially fully transparent */
    transition: opacity 0.3s; /* Add transition effect */
}

.hoverneeded:hover {
    opacity: 1;
    color: rgb(70, 71, 71); /* Fully opaque on hover */
}
